{% layout "layout.liquid" %}
{% block content %}
    <div class="home-page"
    style="background-image:url('https://www.artic.edu/iiif/2/e966799b-97ee-1cc6-bd2f-a94b4b8bb8f9/full/843,/0/default.jpg'); height: 100vh">
<div class="container-lg text-center">
    <div class="home-header mb-2">
        <h1 >Art Institute of Chicago Visit</h1>

    </div>
    <a href="/arts">
    <div class="home-link mb-2 btn btn-dark">
        <h2 >Browse Art</h2>
    </div>
    </a><br>
    <div class="home-link mb-2 btn btn-dark">
        <h2 >PlaceHolder</h2>

    </div><br>
</div>

</div>


{% endblock %}